/* GLOBAL STYLE */


/* main */
#windowMain
{
     background-image: url('img/bgr.png');
     border-color: rgb(8,88,81);
     border-radius: 50px;
     padding: 10px;
     border-style: inset;
     border-width: 20px;
     
}

#btn_hel
{
     background: transparent;
     border: none;
     border-radius: 50px;
     
}

#btn_hel:hover
{
     background: rgb(28,100,92);
}
/*
#boxW_hel
* {
     background: rgba(191,212,161,255);
}
*/


/*
#hello_logo
* {
	border: none;
    border-radius: 10px;
    background: rgba(191,212,161,255);
}
*/


/* windowMenu */
#windowMenu
{
     background-image: url('img/bgr.png');
     border-color: rgb(8,88,81);
     border-radius: 50px;
     padding: 10px;
     border-style: inset;
     border-width: 20px;

}

#btn1_U1, #btn2_U1, #btn3_U1, #btn4_U1, #btn5_U1, #btn6_U1, #btn7_U1, #btn8_U1, #btn9_U1
{

     background: transparent;

     border: none;
     border-radius: 50px;
}


#btn1_U1:hover, #btn2_U1:hover, #btn3_U1:hover, #btn4_U1:hover, #btn5_U1:hover, #btn6_U1:hover, #btn7_U1:hover, #btn8_U1:hover, #btn9_U1:hover
{
     background: rgb(28,100,92);
}

#btn1_U1_U1, #btn2_U1_U2, #btn3_U1_U3, #btn4_U1_U4, #btn5_U1_U5, #btn6_U1_U6, #btn7_U1_U7, #btn8_U1_U8, #btn9_U1_U9
{
     background: rgb(109,162,145);
     border:none;
     border-radius: 50px;
}


#btnU1_cancel
{
     background: transparent;
     border: none;
     border-radius: 50px;
}

#btnU1_cancel:hover
{
     background: rgb(28,100,92);
}

/* windowTemp1 */
#windowTemp1{
     background-image: url('img/bgr.png');
     border-color: rgba(79,116,124,255);
     border-radius: 50px;
     padding: 10px;
     border-style: inset;
     border-width: 20px;

}

#btnbox1_temp1, #btnbox2_temp1{

     background: transparent;
     border: none;
     border-radius: 50px;
}

#btnbox1_temp1:hover, #btnbox2_temp1:hover{
     background: rgb(28,100,92);
}


#btn_exit_T1{
     background: transparent;
     border: none;
     border-radius: 50px;
     
}

#btn_exit_T1:hover{
     background: rgb(28,100,92);
}


#btn_ok_T1{
     background: transparent;
     border: none;
     border-radius: 50px;
     
}

#btn_ok_T1:hover{
     background: rgb(28,100,92);
}

/* windowTemp2 */
#windowTemp2{
     background-image: url('img/bgr.png');
     border-color: rgba(79,116,124,255);
     border-radius: 50px;
     padding: 10px;
     border-style: inset;
     border-width: 20px;

}

#btnbox1_temp2, #btnbox2_temp2{

     background: transparent;
     border: none;
     border-radius: 50px;
}

#btnbox1_temp2:hover, #btnbox2_temp2:hover{
     background: rgb(28,100,92);
}


#btn_exit_T2{
     background: transparent;
     border: none;
     border-radius: 50px;
     
}

#btn_exit_T2:hover{
     background: rgb(28,100,92);
}


#btn_ok_T2{
     background: transparent;
     border: none;
     border-radius: 50px;
     
}

#btn_ok_T2:hover{
     background: rgb(28,100,92);
}


/* windowTemp3 */
#windowTemp3{
     background-image: url('img/bgr.png');
     border-color: rgba(79,116,124,255);
     border-radius: 50px;
     padding: 10px;
     border-style: inset;
     border-width: 20px;

}

#btnbox1_temp3, #btnbox2_temp3{

     background: transparent;
     border: none;
     border-radius: 50px;
}

#btnbox1_temp3:hover, #btnbox2_temp3:hover{
     background: rgb(28,100,92);
}


#btn_exit_T3{
     background: transparent;
     border: none;
     border-radius: 50px;
     
}

#btn_exit_T3:hover{
     background: rgb(28,100,92);
}


#btn_ok_T3{
     background: transparent;
     border: none;
     border-radius: 50px;
     
}

#btn_ok_T3:hover{
     background: rgb(28,100,92);
}


/* windowPay */
#windowPay{
     background-image: url('img/bgr.png');
     border-color: rgba(79,116,124,255);
     border-radius: 50px;
     padding: 10px;
     border-style: inset;
     border-width: 20px;

}

#btn1_P1, #btn2_P1, #btn3_P1, #btn4_P1, #btn5_P1, #btn6_P1{
     background: transparent;
     border: none;
     border-radius: 50px;
}


#btn1_P1:hover, #btn2_P1:hover, #btn3_P1:hover, #btn4_P1:hover, #btn5_P1:hover, #btn6_P1:hover{
     background: rgb(28,100,92);
}

#btn1_P1_P1, #btn2_P1_P1, #btn3_P1_P1, #btn4_P1_P1, #btn5_P1_P1, #btn6_P1_P1{
     background: rgb(109,162,145);
     border:none;
     border-radius: 50px;
}


#btnP1_cancel{
     background: transparent;
     border: none;
     border-radius: 50px;
}

#btnP1_cancel:hover{
     background: rgb(28,100,92);
}


/* windowKasbon */
#windowKasbon{
     background-image: url('img/bgr.png');
     border-color: rgba(79,116,124,255);
     padding: 10px;
     border-style: inset;
     border-width: 20px;

}


#boxK_b2{
     background: rgba(191,205,173,255);
     border:none;
     border-radius: 50px;
}


#btn1_k_b2{
     background: transparent;
     border: none;
     border-radius: 50px;
}

#btn1_k_b2:hover{
     background: rgb(28,100,92);
}

/* windowError */
#windowError{
     background-image: url('img/bgr.png');
     border-color: rgba(79,116,124,255);
     padding: 10px;
     border-style: inset;
     border-width: 20px;

}


#boxE_b2{
     background: rgba(191,205,173,255);
     border:none;
     border-radius: 50px;
}


#btn1_E_b2{
     background: transparent;
     border: none;
     border-radius: 50px;
}

#btn1_E_b2:hover{
     background: rgb(28,100,92);
}
